<footer class="my-footer">
    <div>
        <p><i class="material-icons">perm_identity</i> <a href="" class="fake">Trần Đình Nam</a></p>
        <p><i class="material-icons">facebook</i><a href="https://www.facebook.com/TranDinhNamz">https://www.facebook.com/TranDinhNamz</a></p>
        <p><i class="material-icons">email</i><a href="mailto:trandinhnamuet@gmail.com">trandinhnamuet@gmail.com</a></p>
        <p><i class="material-icons">youtube_searched_for</i><a href="https://www.youtube.com/@trandinhnamz">https://www.youtube.com/@trandinhnamz</a></p>
    </div>
    <div class="right-col">
        <p>Giới thiệu | Liên hệ</p>
        <p>Điều Khoản | Chính Sách Bảo Mật</p>
        <p>Copyright © 2024 AddressComicBook</p>
    </div>
</footer>