* {
    background-color: rgb(53, 48, 42);
    text-align: center;
}

img {
    height: 100px;
    width: 100px;
}

ul {
    list-style-type: none;
    margin-left: -40px;
}

li {
    height: 40px;
    padding-top: 0px;
    padding-bottom: 62px;
    display: block; /* Đảm bảo li được hiển thị như một khối */
}

a {
    display: block; /* Làm cho thẻ a hiển thị như một khối */
    width: 100%; /* Chiếm toàn bộ chiều rộng của thẻ li */
    height: 100%; /* Chiếm toàn bộ chiều cao của thẻ li */
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0); /* Màu đen có độ trong suốt là 0 */
    padding: 20px 0; /* Thêm padding để tăng kích thước nếu cần */
}

li:hover {
    background-color: #ddd; /* Màu nền khi di chuột qua */
}
