<h1>User Panel</h1>
__________________________________________
<div class="user-card"><br/>
    <img src="https://protruyen.xyz/uploads/avatars/avatar.png" alt="">
    <h5>Nguoi dung A</h5>
</div>
__________________________________________
<div><br/></div>
<ul>
    <li>
        <a routerLink="profile">Hồ sơ</a>
    </li>
    <li>
        <a routerLink="list-comic">Danh sách truyện</a>
    </li>
    <li>
        <a routerLink="add-comic">Thêm truyện</a>
    </li>
    <li>
        <a routerLink="notification">Thông báo</a>
    </li>
</ul>