<h1>User Panel</h1>
____________________________________________
<div class="user-card"><br/>
    <img src="{{avatarLink}}" alt="">
    <h5>Người dùng: {{userName}}</h5>
</div>
____________________________________________
<br>
<ul>
    <li>
        <a routerLink="profile">Hồ sơ</a>
    </li>
    <li>
        <a routerLink="list-comic">Danh sách truyện</a>
    </li>
    <li>
        <a routerLink="add-comic">Thêm truyện</a>
    </li>
    <li>
        <a routerLink="notification">Thông báo</a>
    </li>
</ul>