.search-container {
    /* width: 1000px; */
    /* position: relative; */
    /* margin-top: -60px; */
    display: inline-block;
    /* padding-left: 500px; */
    /* white-space: nowrap; */
}

.search-box {
    width: 850px;
    height: 40px;
}

.search-button {
    /* display: inline-block; */
    height: 40px;
    width: 40px;
    margin-left: 2px;
    /* padding-bottom: 3px;
    margin-left: 5px; */
    background-color: #535457;
}