.pulisher-header {
    height: 60px;
    padding-top: 10px;
    display: flex;
}

.home-button:hover {
    z-index: 100;
    color: #888; /* Màu xám */
}

fa-icon {
    border: 3px solid;
    border-radius: 50%;
    color: black;
}

fa-icon:hover {
    color: #888; /* Màu xám */
}

.logout-card {
    z-index: 1000;
    float: right;
    margin-left: 1000px;
}

.logout-card img {
    width: 50px; /* Đặt kích thước ảnh vuông */
    height: 50px; /* Đặt kích thước ảnh vuông */
    border-radius: 50%; /* Tạo viền tròn */
    overflow: hidden; /* Ẩn phần ngoài của ảnh */

}