<!-- <button  mat-button (click)="openDialog()">{{ title }} app is running!</button> -->

<!-- app.component.html -->

<!-- app.component.html -->

<div class="home-page">
  <app-header></app-header>

  <div fxLayout="row" fxLayoutAlign="start stretch">

    <div fxFlex="15">
      <app-left-bar></app-left-bar>
    </div>

    <div fxFlex="70">
      <app-latest-chaps></app-latest-chaps>
    </div>

    <div fxFlex="15">
      <app-right-bar></app-right-bar>
    </div>

  </div>

  <app-footer></app-footer>
</div>
