<div class="left-bar">
    <div class="ae">
        <p>Mục cộng đồng</p>
        <!-- <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fcakeandgirls&tabs=timeline&width=350&height=350&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="350" height="350" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe> -->
    </div>
    <br>
    <div class="ae">
        <p>Mục tùy chọn nhạc</p>
        <!-- <iframe width="100%" height="415" src="https://www.youtube.com/embed/ySowsxXk9_0?si=knoQj8_L2YDvEvy0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
    </div>
</div>